<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

        <link rel="stylesheet" href="/stylesheets/viewpizzas.css">

        <main>

            <section>
                <div> Pizza de <%=dataBasePizzas.nome%> </div>
                
                <img src="<%=dataBasePizzas.img%>" alt="<%=dataBasePizzas.nome%>">
                
                <div> Ingredientes: <%=dataBasePizzas.ingredientes%> </div>
                <div> R$<%=dataBasePizzas.preco.toString().replace(".", ",")%> </div>
                
            </section>
            
        </main>

    <%- include('./partials/footer') %>
</body>
</html>